[user]
	name = Eric Bidelman
	email = ebidel@gmail.com
[github]
  user = ebidel
  email = ebidel@gmail.com
[alias]
  # List aliases.
	aliases = config --get-regexp alias
  st = status -s
  ci = commit
  br = branch
  co = checkout
  # Clone a repository including all submodules.
	c = clone --recursive
  lg = log --stat --format=\"%n%Cred%h  %Cgreen%an%Creset  %ar%n%s%B\"
  lg2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lg3 = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s' --abbrev-commit --no-merges
  undopush = !"git push -f origin HEAD^:main"
  pum = !"git fetch origin -v; git fetch upstream -v; git merge upstream/main"
  rub = !"git fetch upstream -v; git rebase upstream/main"
  # List contributors since date. git contributors 2024-01-01 
  contributors = "!f() { git shortlog -s -n --since=$1; }; f"
  credit = !sh -c 'git commit --amend --author \"$1\" -C HEAD' -
  # Show the user email for the current repository.
	whoami = config user.email
[core]
	# Use custom `.gitignore` and `.gitattributes`.
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[url "git@github.com:"]
  insteadOf = https://github.com
[credential]
	helper = osxkeychain
[push]
	default = current
[google]
	lastUpdateCheck = 20151103000000
[pull]
	default = current
[http]
	cookiefile = ~/.gitcookies
[commit]
	gpgsign = false
