[github]
  user = ebidel
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  lg = log --stat --format=\"%n%Cred%h  %Cgreen%an%Creset  %ar%n%s%B\"
  lg2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lg3 = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s' --abbrev-commit --no-merges
  undopush = !"git push -f origin HEAD^:master"
  pum = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  rub = !"git fetch upstream -v; git rebase upstream/master"
  contribs = shortlog -s -n --since=2013-01-01
  credit = !sh -c 'git commit --amend --author \"$1\" -C HEAD' -
  pushdevrel = !"git push origin HEAD:refs/for/master"
[core]
	excludesfile = /Users/ericbidelman/.gitignore
[url "https://github"]
	insteadOf = git://github
[credential]
	helper = osxkeychain
[push]
	default = current
[google]
	lastUpdateCheck = 20151103000000
[pull]
	default = current
[http]
	cookiefile = /Users/ericbidelman/.gitcookies
[user]
	name = Eric Bidelman
	email = ebidel@gmail.com
[commit]
	gpgsign = false
